<div
  class="navbar fixed top-0 left-0 w-full z-50 h-20
         bg-base-100/90 backdrop-blur-md shadow-sm px-6"
>

  <!-- LOGO -->
  <div class="navbar-start flex items-center">
    <img
      src="/images/logo.png"
      alt="Logo"
      class="w-24 h-auto object-contain"
    />
  </div>

  <!-- ESPACIO FLEX -->
  <div class="flex-1"></div>

  <!-- MENÚ DERECHA -->
  <div class="navbar-end hidden lg:flex">
    <ul class="menu menu-horizontal items-center gap-2">

      <li>
        <a
          routerLink="/"
          fragment="inicio"
          class="px-4 py-2 rounded-full
                 hover:bg-[#6E63B6]/90 hover:text-white
                 transition-colors"
        >
          Inicio
        </a>
      </li>


            <li>
        <a
          routerLink="/"
          fragment="mi-enfoque"
          class="px-4 py-2 rounded-full
                 hover:bg-[#6E63B6]/90 hover:text-white
                 transition-colors"
        >
          Mi enfoque
        </a>
      </li>

      <li>
        <a
          routerLink="/"
          fragment="Servicios"
          class="px-4 py-2 rounded-full
                 hover:bg-[#6E63B6]/90 hover:text-white
                 transition-colors"
        >
          Servicios
        </a>
      </li>
       <li>
        <a
          routerLink="/"
          fragment="sobre-mi"
          class="px-4 py-2 rounded-full
                 hover:bg-[#6E63B6]/90 hover:text-white
                 transition-colors"
        >
          Sobre mí
        </a>
      </li>

      <li>
        <a
          routerLink="/"
          fragment="contacto"
          class="ml-2 px-4 py-2 rounded-full
                 border border-[#6E63B6]
                 text-[#6E63B6] font-medium
                 transition-all duration-200
                 hover:bg-[#6E63B6]
                 hover:text-white"
        >
          Contacto
        </a>
      </li>

    </ul>
  </div>

</div>
