<header class="fixed top-4 left-0 w-full z-50 flex justify-center px-4">

  <div
    class="w-full max-w-8xl
           h-20
           flex items-center justify-between
           px-2
           rounded-2xl
           bg-white/60 backdrop-blur-xl
           border border-white/40
           shadow-lg shadow-violet-500/10"
  >

    <!-- LOGO -->
    <div class="navbar-start flex items-center">
      <img
        src="/images/logo.png"
        alt="Logo"
        class="w-28 h-auto object-contain lg:w-34"
      />
    </div>

  <!-- NAV -->
  <nav
    class="hidden lg:flex items-center gap-10 text-lg font-medium text-slate-600 px-4"
  >
    <button
      type="button"
      (click)="goTo('inicio')"
      class="transition hover:text-violet-600"
      [class.text-violet-600]="activeSection() === 'inicio'"
    >
      Inicio
    </button>

    <button
      type="button"
      (click)="goTo('servicios')"
      class="transition hover:text-violet-600"
      [class.text-violet-600]="activeSection() === 'servicios'"
    >
      Servicios
    </button>

    <button
      type="button"
      (click)="goTo('sobre-mi')"
      class="transition hover:text-violet-600"
      [class.text-violet-600]="activeSection() === 'sobre-mi'"
    >
      Sobre mí
    </button>

    <button
      type="button"
      (click)="goTo('contacto')"
      class="transition hover:text-violet-600"
      [class.text-violet-600]="activeSection() === 'contacto'"
    >
      Contacto
    </button>
  </nav>




    <!-- Mobile Button -->
    <button
      class="lg:hidden text-slate-700"
      (click)="toggleMenu()"
    >
      <svg xmlns="http://www.w3.org/2000/svg"
           class="h-6 w-6"
           fill="none"
           viewBox="0 0 24 24"
           stroke="currentColor">
        <path stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"/>
      </svg>
    </button>

  </div>

</header>
