<div
  class="relative min-h-screen
         bg-[url('/images/sky-bg.png')]
         bg-cover bg-center bg-no-repeat"
>
  <!-- Overlay -->
  <div class="absolute inset-0 bg-white/40"></div>


     <!-- Contenido -->
  <div class="relative z-10">

    <!-- HERO -->
    <section
      id="inicio">
      <home-section></home-section>
    </section>

    <!-- SERVICIOS -->
    <section
      id="servicios"
      class="section section-soft">
      <servicios-section></servicios-section>
    </section>

    <!-- SOBRE MI -->
    <section
      id="sobre-mi"
      class="section section-soft">
      <profile-section></profile-section>
    </section>

    <!-- CONTACTO -->
    <section
      id="contacto"
      class="section section-soft">
      <contact-section></contact-section>
    </section>

  </div>

</div>
