<div class="relative min-h-screen overflow-hidden bg-[#f1ecff]">



  <!-- Contenido -->
  <div class="relative z-10">

    <!-- HERO -->
    <section
      id="inicio">
      <home-section></home-section>
    </section>

    <!-- SOBRE MI -->
    <section
      id="sobre-mi"
      class="section section-soft">
      <profile-section></profile-section>
    </section>

    <!-- SERVICIOS -->
    <section
      id="servicios"
      class="section section-neutral">
      <servicios-section></servicios-section>
    </section>

    <!-- CONTACTO -->
    <section
      id="contacto"
      class="section section-soft">
      <contact-section></contact-section>
    </section>

  </div>

</div>
