@import "tailwindcss";
@plugin "daisyui" {
  themes: cupcake;
}
html {
  scroll-behavior: smooth;
}
section {
  scroll-margin-top: 90px;
}

@keyframes gradientMoveStrong {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.animate-gradient-strong {
  animation: gradientMoveStrong 10s ease-in-out infinite;
}


